.header {
	top: 0;
}

.maincolor_bg {
	background-color: #141414;
}

.secondarycolor_bg {
	background-color: #999;
}

.tertiarycolor_bg {
	background-color: #414141;
}

.logo {
	display: inline-block;
	width: 50px;
	height: 80px;
}

.main {
	padding: 10px;
	margin: 20px;
}

.projectlist {
	margin-top: 10px;
	border-top: solid black 2px;
}

.clearfix {
	clear: both;
}

a {
	color: #1D1C73;
}

.hiddeninfo {
	display: none;
}

.about {
	text-decoration: underline;
}

.about:after {
	content: "▼ ";
	font-size: 0.7em;
}